.videos {
    margin: 50px 0;
}

.videos h2 {
    font-size: 42px;
    text-align: center;
    font-weight: 400;
}

.videos .videos-boxes {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.videos .videos-boxes .video-box {
    width: 48%;
    height: auto;

    text-align: center;
}

.videos .videos-boxes .video-box iframe {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;

}

.videos .videos-boxes .video-box p {
    color: rgb(58, 58, 58);
    margin: 10px 0 0 0;
}

/*media for 480px ====================*/
@media only screen and (max-width: 450px) {
    .videos {
        margin: 20px 0;
    }

    .videos h2 {
        font-size: 7vw;
        margin-bottom: 10px;
    }

    .videos .videos-boxes .video-box {
        width: 100%;
    }

    .videos .videos-boxes .video-box iframe {
        height: 200px;
    }
}